h1 {
    background-color: aqua;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1, h2 {
  text-align: center;
  color: #333;
}

section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 8px;
}


@media (max-width: 600px) {
  body {
    background-color: #f9f9f9;
  }

  h1 {
    font-size: 22px;
  }

  section {
    padding: 10px;
  }
}
